
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496497083532'); /* IE9*/
  src: url('iconfont.eot?t=1496497083532#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496497083532') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496497083532') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496497083532#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanfa:before { content: "\e65f"; }

.icon-pinglun:before { content: "\e621"; }

.icon-jinlingyingcaiwangtubiao55:before { content: "\e75a"; }

.icon-zankongxingai:before { content: "\e65c"; }

.icon-shuaxin:before { content: "\e650"; }

.icon-sousuo:before { content: "\e651"; }

.icon-xiangshangjiantou:before { content: "\e65d"; }

.icon-xiangxiajiantou:before { content: "\e65e"; }

.icon-xiangyoujiantou:before { content: "\e660"; }

.icon-xiangzuojiantou:before { content: "\e661"; }

.icon-aite:before { content: "\e700"; }

.icon-xie:before { content: "\e690"; }

.icon-laba:before { content: "\e668"; }

