body, html
  line-height: 1
  font-weight: 200
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif

.clearfix
  zoom 1
  //加上before，避免上外边距出界。相当于为父元素添加了boder和padding
  &:before,&:after
    display: table
    content: ""
    clear: both

.active
  background-color #ebebeb

//文字相关类：
.txt-l
  font-size .9375rem
.txt-s
  font-size .8125rem
.txt-xs
  font-size .625rem
.txt-cut
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


@media (-webkit-min-device-pixel-ratio: 2),not all
  .border-1px
    &:before
      width:4.25rem
      height 4.25rem
      transform scale(0.5) translate(-50%,-50%)
